body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#darkModeToggle {
    border-radius: 25px;
    padding: 5px;
    margin-bottom: 0px;
}

.section {
    padding: 10rem 1.5rem;
}

.menu a {
    color: #000;
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.3s, transform 0.3s;
}

.menu a:hover {
    color: #6EC1E4;
    transform: rotate(15deg);
}

.menu h2 {
    color: #000;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.hero-body, .container {
    text-align: center;
    margin-top: 20px;
    background-color: #fff;
}

.container h1 {
    color: #000;
}

.emoji {
    font-size: 48px;
    animation: waving 2s infinite;
    display: inline-block;
}

@keyframes waving {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* Add this to your existing styles */
.dark-mode, .dark-mode .container h1, .dark-mode .container, .dark-mode .footer, .dark-mode .hero.is-white {
    background-color: #202020  ; /* Dark background color */
    color:  #ffaaaa; /* Light text color */
  }
  
  /* Adjust other styles for dark mode as needed */
  .dark-mode .menu a, .dark-mode a, .dark-mode .hero.is-white .title, .dark-mode .buttons {
    color:  #ffaaaa;
  }

  .dark-mode .icon.is-large, .dark-mode #darkModeToggle {
    background-color: #ffaaaa;
  }
  
  .dark-mode .icon.is-large {
    border-radius: 10px;
  }
